**/target
**/classes
########## Project Files ##########
**/the-publisher-files
########## InteliJ IDEA ##########
**.iml
.idea
########## Eclipse IDEA ##########
.settings
.classpath
.project
.metadata
########## MAC OS ##########
**.DS_Store
########## Other Files ##########
jetty-out.log
jetty-out.out
jetty.pid
publisher.log*
