**/target
**/classes
########## Project Files ##########
**default-folders.properties
########## InteliJ IDEA ##########
**.iml
.idea
########## Eclipse IDEA ##########
.settings
.classpath
.project
.metadata
########## MAC OS ##########
**.DS_Store
########## Other Files ##########
jetty-out.log
jetty.pid
