@CHARSET "UTF-8";

.boxs { display: table; margin: 40px auto; width: 100%; max-width: 944px; }

.page .title { float:left; position:relative; font-size: 23px; font-family: Roboto; margin-bottom: 30px; }

.page .event {  float:left; position:relative; width: 100%; max-width: 864px; height: 130px; background-color: #f2f2f2; margin-top: 15px; }
.page .event .logo {  float:left; position:relative;  width: 100%; max-width: 183px; height: 106px; margin: 12px 18px; }
.page .event .info {  float:left; position:relative;  width: 100%; max-width: 423px; height: 130px; border-left: 1px solid #8a8a8a;}
.page .event .info span { float:left; position:relative; width: 85%; }
.page .event .info .name { height: 20px; font-size: 15px; text-transform: uppercase; margin: 15px 0 0 20px; }
.page .event .info .description { height: 43px; font-size: 14px; text-overflow: ellipsis; overflow: hidden; margin: 40px 0 0 20px; line-height: 20px; }
.page .event .detail {  float:left; position:relative;  width: 100%; max-width: 220px; height: 130px; background-color: #dadada; }
.page .event .detail a { text-decoration: none; color: #000; font-size: 13px; float: left; position: relative; width: 132px; margin: 34px 0 0 15px; line-height: 21px; }
.page .event .detail strong { font-weight: bold; }

.page .arrow-black2 { position: absolute; right: 12px; top: -4px; right: -4px; }

.page .promo { float:left; position:relative; width: 100%; max-width: 855px; height: 55px; border: 5px solid #ffb407; background-color: #000; margin: 23px 0 8px 0; }
.page .promo span { color: #fff; font-weight: bold; font-size: 20px; text-transform: uppercase; float: left; margin: 17px 86px; }

.page .page-list { float:left; position:relative; width: 694px; height: 44px; margin-top: 40px; padding: 10px 0 0; text-align: center; }
.page .page-list span.current { border-bottom: 3px solid #a2393c; font-size: 25px; padding: 0 0 0 2px; margin: 0 8px; }
.page .page-list a { text-decoration: none; color: #2b2b2b; font-size: 21px; padding: 0 8px; }