@CHARSET "UTF-8";
.hightlights { float: left; width: 100%; margin: 25px 0; position: relative; }
.hightlights .form { float: left; position: absolute; width: 28%; margin: 0; background-color: #2e2e2e; top: 0; left: 60%; }
.hightlights .form > div { float:left; background-color: #666; padding: 4%; }
.hightlights .form .member { display: block; }
.hightlights .form .gym { display: none; }
.hightlights .form span { float: left; width: 94%; color: #fff; font-size: 1.3em; margin: 3%; text-transform: uppercase; }
.hightlights .form .control { width: 100%; float: left; padding: 0; background-color: #2e2e2e; text-align: center; }
.hightlights .form .control span { font-size: 0.9em; width: 30%; padding: 2% 7%; margin: 0; cursor: pointer;  }
.hightlights .form .control .control-member { background-color: #666; }
.hightlights .form .control .control-gym { background-color: #2e2e2e; }
.hightlights .form label { float: left; width: 100%; color: #fff; margin: 0 0 5px 0; font-size: 1em; }
.hightlights .form input[type="text"],
.hightlights .form input[type="password"] { float: left; width: 98%; margin: 0 0 10px 0; height: 15px; font-size: 1em; padding: 1%; border: 0; }
.hightlights .form input[type="submit"] { float: left; width: 50%; background-color: #ffcc00; border: 0; padding: 1%; margin: 0 25%; font-size: 0.8em; font-weight: 600; border-radius: 5px; }
.hightlights .hightlight { float: left; width: 100%; }
.hightlights .hightlight a { float: left; width: 100%; }
.hightlights .hightlight a img { float: left; width: 100%; }
.hightlights .hightlight span { float: left; width: 100%; font-size: 1.5em; text-align: center; padding: 30px 0; background-color: #cacaca; font-weight: 600; }

.boxs { display: table; margin: 25px auto; width: 100%; max-width: 944px; }
.boxs .box { float: left; width: 33.33%; max-width: 291px; }
.boxs .margin { margin: 0 35px 0 0; } 
.boxs .box a { float: left; width: 100%; max-width: 291px; }
.boxs .box a img { float: left; width: 100%; max-width: 291px; }
.boxs .box .title { float: left; width: 100%; margin: 2% 0; line-height: 30px; font-size: 1.2em; font-weight: 600; }
.boxs .box .text { float: left; width: 100%; font-size: 1em; line-height: 25px; font-weight: 300; }

.guide-gym { width: 100%; max-width: 944px; display: table; margin: 25px auto; height: 68px; border: 0.01em solid #222222; background-color: #000; }
.guide-gym span { float: left; color: #fff; height: 68px; line-height: 68px; font-size: 1em; margin: 0 1%; width: 43%; text-align: center; }
.guide-gym input[type="text"] { float: left; width: 30%; height: 20px; line-height: 20px; margin: 24px 1%; padding: 0 1%; border: none; }
.guide-gym input[type="submit"] { float: left; width: 19%; margin: 24px 1%; height: 20px; color: #000; background-color: #ffb400; border: none; padding: 0; font-size: 0.8em; font-weight: 600; border-radius: 5px; }

.indicates { float: left; width: 100%; background-color: #f6f5f5; }
.indicates .header { width: 100%; position: relative; margin: 2% auto; display: table; max-width: 944px; z-index: 1; }
.indicates .header .line { height: 2px; background-color: #666666; width: 100%; margin: 49px 0; z-index: -1; position: absolute; left: 0; top: 0; }
.indicates .header .text { width: 40%; text-align: center; line-height: 60px; font-size: 1.4em; font-weight: 400; color: #666666; margin: 20px 30%; z-index: 1; float: left; height: 60px; background-color: #f6f5f5; }
.indicates .persons { width: 100%; display: table; margin: 0 auto 5% auto; max-width: 944px; }
.indicates .persons .person { float: left; width: 25%; }
.indicates .persons .person .image { float: left; width: 100%; }
.indicates .persons .person .image img { margin: 0 auto; width: 100%; max-width: 112px; display: table; }
.indicates .persons .person .text { float: left; width: 80%; line-height: 25px; margin: 5% 10%; font-size: 1em; color: #838282; font-weight: 300; }

.club { width: 100%; max-width: 472px; float: left; }
.club .header { width: 85%; background-color: #920000; padding: 1% 3% 3% 12%; height: 155px; float: left; }
.club .header span { color: #fff; font-size: 13.5px; line-height:21px; width: 88%; float: left;  }
.club .header .title { font-size: 25px; text-transform: uppercase; line-height:50px; }
.club .content { width: 100%; float: left; background-color: #ffffd9; }
.club .content table { width: 80%; float: left; margin: 4% 15% 0; }
.club .content table tr { border-bottom: 1px solid #cccccc; float: left; padding: 3% 0; }
.club .content table .no-border { border-bottom: none; }
.club .content table tr td { vertical-align: middle; font-size: 13.5px; color: #787878; line-height: 22px; }
.club .content table tr .margin { padding-left: 2%; }
.club .content table tr td img { width: 70px; margin-right: 10%; }

.advantages { width: 100%; max-width: 472px; float: left; }
.advantages .header { width: 85%; background-color: #666666; padding:1% 3% 3% 12%; height: 155px; float: left; position: relative; }
.advantages .header span { color: #fff; font-size: 13.5px; line-height:21px; width: 88%; float: left; }
.advantages .header .title { font-size: 25px; text-transform: uppercase; line-height:50px; }
.advantages .header .member-free { float:left; width: auto; margin: 10% 12% 0 0; text-transform:uppercase; font-weight:bold; cursor: pointer; }
.advantages .header .member-premium { float:left; width: auto; margin: 10% 12% 0 0; text-transform:uppercase; font-weight:bold; cursor: pointer; }
.advantages .header .grey-arrow { position: absolute; bottom: -12%; left: 45%; z-index: -1; }
.advantages .content { width: 100%; float: left; }
.advantages .content table { width: 80%; float: left; margin: 4% 15% 0; }
.advantages .content table tr { border-bottom: 1px solid #cccccc; float: left; padding: 3% 0; }
.advantages .content table .no-border { border-bottom: none; }
.advantages .content table tr td { vertical-align: middle; font-size: 13.5px; color: #787878; line-height: 22px; }
.advantages .content table tr .member-free { display: none; }
.advantages .content table tr .member-premium { display: table-cell; }
.advantages .content table tr .margin { padding-left: 2%; }
.advantages .content table tr td img { width: 70px; margin-right: 10%; }

.note { width: 100%; max-width: 944px; display: table; margin: 25px auto; background-color: #f6f4f5; }

.note img { width: auto; height: auto; float: left; } 
.note .note-info { float: left; width: 554px; background-color: #f6f4f5; height: 18.45em; }
.note .note-info span { font-size: 1em; line-height: 1.6em; width: 82%; float: left; margin: 1% 9%; color: #020202; overflow: hidden; max-height: 8em; } 
.note .note-info .header { font-size: 2.4em; line-height: 1.5em; margin-top: 3%; }
.note a { float:left; text-decoration: none; color: #000; background-color: #d5d5d5; font-size: 0.8em; padding: 1.5%; text-align: center; font-weight: 600; border: 0.1em solid #414142; border-radius: 5px; text-transform: uppercase; margin: 5% 8%; }
.note a.button-premium { background-color: #ffeea8; }

@media screen and (max-width: 800px) {
	.page .hightlights { margin: 10px 0; }
	.page .hightlights .form { position: relative; width: 96%; margin: 1%; left: 0; top: 0; padding: 1%; }
	.page .hightlights .form span { font-size: 1em; margin: 0 0 10px 0; }
	.page .hightlights .form label { font-size: 0.8em; }
	.page .hightlights .form input[type="text"] { margin: 0 0 5px 0; height: 5px; font-size: 0.8em; }
	
	.page .hightlights .hightlight { width: 98%; margin: 0 1%; }
	.page .hightlights .hightlight span { font-size: 1.2em; }
	
	.page .boxs { float: left; margin: 10px 1% 10px 1%; width: 98%; display: block; }
	.page .boxs .margin { margin: 0; }
	.page .boxs .box { width: 100%; max-width: none; }
	.page .boxs .box a { display: table; float: none; margin: 0 auto; }
	.page .boxs .box .title { text-align: center; margin: 2% 1%; width: 98%; }
	.page .boxs .box .text { width: 98%; margin: 2% 1%; }
	
	.page .guide-gym { width: 98%; margin: 0 1%; float: left; display: block; }
	
	.page .indicates { width: 98%; margin: 0 1%; }	
	
	.club { max-width: none; }
	.club .header { height: auto; }
	
	.advantages { max-width: none; margin-top: 2%; }
	.advantages .header { height: auto; }
	.advantages .header .grey-arrow { left: 37%; }
	
	.note { margin: 2% 0;  }
	.note img { width: 50%; } 
	.note .note-info { width: 50%; height: auto; }
	.note .note-info span { font-size: 0.8em; width: 88%; margin: 1% 6%;  }
	.note .note-info .header { font-size: 1.5em; line-height: 1.2em; margin-top: 2%; }
	.note a { margin: 4% 25%;  }
}
@media screen and (max-width: 650px) {
	.note .note-info span { font-size: 0.7em; }
	.note .note-info .header { font-size: 1.2em; }
	.note a { line-height: 1.2em; }
}
@media screen and (max-width: 600px) {
	.page .hightlights .hightlight span { font-size: 1em; line-height: 25px; }
	
	.page .guide-gym span { margin: 2% 1%; line-height: normal; height: auto; }
	
	.page .indicates .header .text { font-size: 0.8em; }
	
	.club .header span { font-size: 0.8em }	
	.club .header .title { font-size: 1.3em; }
	
	.advantages .header span { font-size: 0.8em }
	.advantages .header .title { font-size: 1.3em; }
	
	.advantages .header .grey-arrow { left: 43%; }
}
@media screen and (max-width: 550px) {
	.note .note-info span { max-height: 3em;  }
}
@media screen and (max-width: 500px) {
	.page .indicates .persons .person .text { font-size: 0.7em; line-height: 18px; }
}
@media screen and (max-width: 414px) {
	.page .guide-gym span { margin: 4% 1%; font-size: 0.8em; }
	
	.page .indicates .header .text { width: 60%; margin: 10px 20%; }
	.page .indicates .persons .person .image { width: 90%; margin: 0 5%; }
	.page .indicates .persons .person .text { font-size: 0.6em; }	
	
	.advantages .header .grey-arrow { bottom: -6%; left: 49%;  }
	
	.note .note-info span { max-height: 2em;  }
	.note .note-info .header { font-size: 1em; display: block; max-height: none; }
	.note a { font-size: 0.7em; line-height: 1.1em; }
}
@media screen and (max-width: 375px) {
	.page .hightlights .form input[type="text"] { height: 15px; }
	
	.club .header .title { line-height: 1.7em; }
	
	.advantages .header .title { line-height: 1.7em; }
}
@media screen and (max-width: 320px) {
	.page .indicates .header .line { margin: 40px 0;}	
	
	.page .guide-gym { height: auto; }
	.page .guide-gym span { width: 98%; margin: 2% 1%; }	
	.page .guide-gym input[type="text"] { width: 96%; margin: 2% 1%; }
	.page .guide-gym input[type="submit"] { width: 98%; margin: 2% 1%; }
}