@CHARSET "UTF-8";
/*---------------------------------------------
CSS Reset
----------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
/*---------------------------------------------
CSS Page
----------------------------------------------*/
@font-face { font-family: Tahoma; src: url("/skins/clube-tatame/css/fonts/Tahoma.ttf"); }
html, body { float: left; width: 100%; padding: 0; margin: 0; z-index: 1; font-size: 100%; font-family: Tahoma; }
.page { float: left; width: 100%; }
.page header { display: table; width: 100%; max-width: 944px; margin: 1% auto 0 auto; }
.page header .logo { float: left; max-width: 211px; width: 100%; height: auto; }
.page header .menu { float: left; height: auto; margin: 15px 0 0 218px; width: 515px; }
.page header .menu form { float: left; height: 37px; border: 1px solid #e2e2e2; border-radius: 6px; width: 310px; background-color: #f5f5f5; margin: 0 28px 0 0; }
.page header .menu form input[type="text"],
.page header .menu form input[type="password"]  { float: left; width: 100px; margin: 11px 5px; height: 15px; border: 1px solid #b8b8b8; padding: 0 0 0 5px; border-radius: 5px; }
.page header .menu form input[type="submit"] { float: left; margin: 11px 0; width: 70px; padding: 0; height: 15px; }
.page header .menu .btnFacebook { float: left; max-width: 175px; width: 100%; height: auto; }
.page header nav { float: left; width: 100%; height: 45px; max-width: 733px; }
.page header nav ul { float: left; width: 100%; height: 45px; }
.page header nav ul li { float: left; width: 16.666%; height: 45px; }
.page header nav ul li a { float: left; width: 100%; text-align: center; text-decoration: none; color: #000; font-weight: 600; line-height: 45px; font-size: 1em; color: #414142; }
.page main { display: table; width: 100%; }
.page footer { display: table; width: 100%; background-color: #333; }
.page footer > section { display: table; width: 100%; max-width: 944px; margin: 0 auto; }
.page footer > section .col1 { float: left; width: 33.33%; margin: 45px 0; }
.page footer > section .col1 h1 { float: left; width: 100%; text-align: center; color: #fff; line-height: 50px; font-size: 1.2em; }
.page footer > section .col1 h2 { float: left; width: 100%; }
.page footer > section .col1 h2 a { float: left; width: 100%; line-height: 30px; text-align: center; text-decoration: none; color: #fff; font-size: 0.9em; margin: 5px 0; }
.page footer > section .col2 { float: left; width: 33.33%; }
.page footer > section .col2 .address { float: left; width: 100%; margin: 5px 0 10px 0; }
.page footer > section .col2 .address li { float: left; width: 100%; line-height: 25px; font-weight: 300; font-size: 0.8em; color: #fff; }
.page footer > section .col2 .phone { float: left; width: 100%; margin: 0 0 10px 0; }
.page footer > section .col2 .phone li { float: left; width: 100%; line-height: 25px; font-weight: 300; font-size: 0.8em; color: #fff; }
.page footer > section .col2 .email { float: left; width: 100%; margin: 0 0 10px 0; }
.page footer > section .col2 .email li { float: left; width: 100%; line-height: 25px; font-weight: 300; font-size: 0.8em; color: #fff; }
.page footer > section .col2 span { float: left; width: 100%; color: #fff; font-size: 0.8em; line-height: 25px; margin: 0 0 10px 0; }
.page footer > section .col3 { float: left; width: 33.33%; }
.page footer > section .col3 img { max-width: 114px; width: 100%; margin: 84px auto; display: table; }
@media screen and (max-width: 800px) {
	.page header,
	.page main,
	.page footer { float: left; }
	
	.page header .logo { float: none; display: table; margin: 0 auto; }
	.page header .menu { width: 96%; margin: 2%; }
	.page header .menu form { width: 100%; margin: 0 0 2% 0; height: auto; border: 0.01em solid #e2e2e2; }
	.page header .menu form input[type="text"],
	.page header .menu form input[type="password"] { margin: 1%; width: 31.33%; height: 30px; border: 0.01em solid #b8b8b8; }
	.page header .menu form input[type="submit"] { margin: 1%; width: 29.33%; height: 30px; border: none; border-radius: 5px; }
	.page header .menu .btnFacebook { float: none; margin: 0 auto; display: table; }
		
	.page header nav { max-width: none; }
	
	.page header nav,
	.page header nav ul,
	.page header nav ul li { height: auto; }
}
@media screen and (max-width: 600px) {
	.page header .menu form input[type="submit"] { width: 28.33%; }	
}
@media screen and (max-width: 500px) {
	.page header nav ul li a { font-size: 0.7em; }	
}
@media screen and (max-width: 414px) {	
	.page header .menu form input[type="submit"] { width: 27.33%; }
	
	.page footer > section .col1 h1 { font-size: 1em; }
	.page footer > section .col1 h2 { font-size: 0.8em; }
	.page footer > section .col2 .address li,
	.page footer > section .col2 .phone li,
	.page footer > section .col2 .email li,
	.page footer > section .col2 span { font-size: 0.6em; }	
}
@media screen and (max-width: 375px) {
	.page header nav,
	.page header nav ul,
	.page header nav ul li { height: auto; } 
	.page header nav ul li { width: 100%; line-height: 30px; }	
	
	.page footer > section .col1,
	.page footer > section .col2,
	.page footer > section .col3 { width: 100%; margin: 10px 0; }
	.page footer > section .col2 .address li, 
	.page footer > section .col2 .phone li, 
	.page footer > section .col2 .email li,
	.page footer > section .col2 span { text-align: center; }
	.page footer > section .col3 img { margin: 15px auto; }	
}
@media screen and (max-width: 360px) {
	.page header .menu form input[type="text"],
	.page header .menu form input[type="password"] { width: 45.33%; }
	.page header .menu form input[type="submit"] { width: 96.33%; }
}
@media screen and (max-width: 320px) {

}