@CHARSET "UTF-8";
/*---------------------------------------------
CSS Reset
----------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
/*---------------------------------------------
CSS Page
----------------------------------------------*/
@font-face { font-family: Tahoma; src: url("/skins/clube-tatame/css/fonts/Tahoma.ttf"); }
html, body { float: left; width: 100%; padding: 0; margin: 0; z-index: 1; font-size: 100%; font-family: Tahoma; }
.page { float: left; width: 100%; }
.page header { display: table; width: 100%; max-width: 944px; margin: 1% auto 0 auto; }
.page header .logo { float: left; max-width: 211px; width: 100%; height: auto; }
.page header .login { float: left; width: 100%; max-width: 650px; height: 54px; border: 1px solid #414142; border-radius: 5px; margin: 0 0 0 80px; position: relative; }
.page header .login label { text-align: center; font-size: 18px; line-height: 20px; position: absolute; left: 304px; top: -12px; background-color: #fff; color: #414142; }
.page header .login a { float: left; width: 50%; text-align: center; height: 54px; line-height: 54px; font-size: 1em; color: #414142; text-decoration: none; background-color: #fff; border-radius: 5px; }
.page header .menu-mobile { display: none; }
.page header nav { float: left; width: 100%; height: 45px; max-width: 733px; }
.page header nav ul { float: left; width: 100%; height: 45px; }
.page header nav ul li { float: left; width: auto; height: 45px; margin: 0 0 0 3%; }
.page header nav ul li a { float: left; width: 100%; text-align: center; text-decoration: none; color: #000; font-weight: 600; line-height: 45px; font-size: 0.9em; color: #414142; }
.page main { display: table; width: 100%; }
.page footer { display: table; width: 100%; background-color: #333; }
.page footer > section { display: table; width: 100%; max-width: 944px; margin: 0 auto; }
.page footer > section .col1 { float: left; width: 33.33%; margin: 45px 0; }
.page footer > section .col1 h1 { float: left; width: 100%; text-align: center; color: #fff; line-height: 50px; font-size: 1.2em; }
.page footer > section .col1 h2 { float: left; width: 100%; }
.page footer > section .col1 h2 a { float: left; width: 100%; line-height: 30px; text-align: center; text-decoration: none; color: #fff; font-size: 0.9em; margin: 5px 0; }
.page footer > section .col2 { float: left; width: 33.33%; }
.page footer > section .col2 .address { float: left; width: 100%; margin: 5px 0 10px 0; }
.page footer > section .col2 .address li { float: left; width: 100%; line-height: 25px; font-weight: 300; font-size: 0.8em; color: #fff; }
.page footer > section .col2 .phone { float: left; width: 100%; margin: 0 0 10px 0; }
.page footer > section .col2 .phone li { float: left; width: 100%; line-height: 25px; font-weight: 300; font-size: 0.8em; color: #fff; }
.page footer > section .col2 .email { float: left; width: 100%; margin: 0 0 10px 0; }
.page footer > section .col2 .email li { float: left; width: 100%; line-height: 25px; font-weight: 300; font-size: 0.8em; color: #fff; }
.page footer > section .col2 span { float: left; width: 100%; color: #fff; font-size: 0.8em; line-height: 25px; margin: 0 0 10px 0; }
.page footer > section .col3 { float: left; width: 33.33%; }
.page footer > section .col3 img { max-width: 114px; width: 100%; margin: 84px auto; display: table; }
@media screen and (max-width: 800px) {
	.page header,
	.page main,
	.page footer { float: left; }
	
	.page header .logo { float: none; display: table; margin: 0 auto 5% auto; }

	.page header .login { width: 98%; max-width: none; border: 0.01px solid #414142; margin: 0 1% 5% 1%; }
	.page header .login label { font-size: 0.9em; position: relative; width: 100%; top: 0; left: 0; margin: 0; text-align: center; line-height: 22px; float: left; border-radius: 5px; height: 22px; }
	.page header .login a { font-size: 0.9em; height: 32px; line-height: 32px; }
		
	.page header nav { display: none; }
	
	.page header .menu-mobile { display: block; width: 98%; margin: 0 1% 5% 1%; font-size: 1em; line-height: 1.2em; }
}
@media screen and (max-width: 600px) { }
@media screen and (max-width: 500px) { }
@media screen and (max-width: 420px) {		
	.page footer > section .col1 h1 { font-size: 1em; }
	.page footer > section .col1 h2 { font-size: 0.8em; }
	.page footer > section .col2 .address li,
	.page footer > section .col2 .phone li,
	.page footer > section .col2 .email li,
	.page footer > section .col2 span { font-size: 0.6em; }	
}
@media screen and (max-width: 375px) {	
	.page footer > section .col1,
	.page footer > section .col2,
	.page footer > section .col3 { width: 100%; margin: 10px 0; }
	.page footer > section .col2 .address li, 
	.page footer > section .col2 .phone li, 
	.page footer > section .col2 .email li,
	.page footer > section .col2 span { text-align: center; }
	.page footer > section .col3 img { margin: 15px auto; }	
}
@media screen and (max-width: 360px) { }
@media screen and (max-width: 320px) { }