<%
	if (info && info.item && info.item.size() >= 1) {
%>
<div class="black-belt-agenda box-shadow">
	<div class="dan">Agenda</div>
</div>
<div class="agenda-articles box-shadow perfect-scroll">

<%
		info.item.eachWithIndex { item, index ->
			def photoId = (item.photoId =~ /\d{1,999999}/)[0],
		   	    link = ""
			if (item.link.toString().startsWith("http://") || item.link.toString().startsWith("https://")) {
				link = item.link.toString()
			} else {
				link = "/" + item.link.toString() 
			}
%>

		<a href="${link}">
			<img alt="${photoId}" src="http://cdn-tatame.trrsf.com/img/${photoId}_255x345.jpg"/>
		</a>

<%
		}
%>

</div>
<%
	}
%>