<%
def hash = (int)(Math.floor(Math.random() * 100000))
if (info && info.item && info.item.size() >= 1) {
%>
	<div class="black-belt-agenda box-shadow">
		<div class="dan">Agenda</div>
	</div>
	<div class="agenda-articles box-shadow">
		<img class="agenda-arrow-left" alt="arrow-left.png" src="/skins/tatame/img/arrow-left.png"/>
		<img class="agenda-arrow-right" alt="arrow-right.png" src="/skins/tatame/img/arrow-right.png"/>
			<%
			info.item.eachWithIndex { item, index ->
				def photoId = (item.photoId =~ /\d{1,999999}/)[0],
			   	    link = ""
				if (item.link.toString().startsWith("http://") || item.link.toString().startsWith("https://")) {
					link = item.link.toString()
				} else {
					link = "/" + item.link.toString() 
				}
			%>
			<div id="agenda-${index}" class="article ${index == 0 ? '' : 'margin-left-2'} ${index < 3 ? 'show' : 'hide'}">
				<a href="${link}">
					<img alt="${photoId}" src="http://tatame.com.br/img/${photoId}_236x330.jpg?${hash}"/>
				</a>
			</div>
		<% } %>
	</div>
<%}%>