<%
	if (info && info.item && info.item.size() == 6) {
		def item, photoId, link
%>
<div class="highlights box-shadow">
	<div class="highlight">
		<div class="card-50 margin-right-5">
			<%
				item = info.item[0]
				photoId = (item.photoId =~ /\d{1,999999}/)[0]
				if (item.link.toString().startsWith("http://") || item.link.toString().startsWith("https://")) {
					link = item.link.toString()
				} else {
					link = "/" + item.link.toString() 
				}				
			%>				
			<a href="${link}">
				<img alt="${photoId}" src="http://cdn-tatame.trrsf.com/img/${photoId}_352x595.jpg"/>
			</a>			
			<div class="transparence"></div>
			<div class="note">${item.note}</div>
		</div>
		<div class="card-50 margin-left-5">
			<div class="card-50 margin-bottom-15">
				<%
					item = info.item[1]
					photoId = (item.photoId =~ /\d{1,999999}/)[0]
					if (item.link.toString().startsWith("http://") || item.link.toString().startsWith("https://")) {
						link = item.link.toString()
					} else {
						link = "/" + item.link.toString() 
					}					
				%>
				<a href="${link}">			
					<img alt="${photoId}" src="http://cdn-tatame.trrsf.com/img/${photoId}_352x290.jpg"/>
				</a>
				<div class="transparence"></div>
				<div class="note">${item.note}</div>
			</div>
			<div class="card-50">
				<%
					item = info.item[2]
					photoId = (item.photoId =~ /\d{1,999999}/)[0]
					if (item.link.toString().startsWith("http://") || item.link.toString().startsWith("https://")) {
						link = item.link.toString()
					} else {
						link = "/" + item.link.toString() 
					}				
				%>
				<a href="${link}">					
					<img alt="${photoId}" src="http://cdn-tatame.trrsf.com/img/${photoId}_352x290.jpg"/>
				</a>
				<div class="transparence"></div>
				<div class="note">${item.note}</div>
			</div>							
		</div>						
	</div>
	<div class="highlight">			
		<div class="card-50 margin-right-5">
			<%
				item = info.item[3]
				photoId = (item.photoId =~ /\d{1,999999}/)[0]
				if (item.link.toString().startsWith("http://") || item.link.toString().startsWith("https://")) {
					link = item.link.toString()
				} else {
					link = "/" + item.link.toString() 
				}				
			%>	
			<a href="${link}">			
				<img alt="${photoId}" src="http://cdn-tatame.trrsf.com/img/${photoId}_352x595.jpg"/>
			</a>
			<div class="transparence"></div>
			<div class="note">${item.note}</div>
		</div>
		<div class="card-50 margin-left-5">
			<div class="card-50 margin-bottom-15">
				<%
					item = info.item[4]
					photoId = (item.photoId =~ /\d{1,999999}/)[0]
					if (item.link.toString().startsWith("http://") || item.link.toString().startsWith("https://")) {
						link = item.link.toString()
					} else {
						link = "/" + item.link.toString() 
					}				
				%>	
				<a href="${link}">			
					<img alt="${photoId}" src="http://cdn-tatame.trrsf.com/img/${photoId}_352x290.jpg"/>
				</a>
				<div class="transparence"></div>
				<div class="note">${item.note}</div>
			</div>
			<div class="card-50">
				<%
					item = info.item[5]
					photoId = (item.photoId =~ /\d{1,999999}/)[0]
					if (item.link.toString().startsWith("http://") || item.link.toString().startsWith("https://")) {
						link = item.link.toString()
					} else {
						link = "/" + item.link.toString() 
					}
				%>	
				<a href="${link}">				
					<img alt="${photoId}" src="http://cdn-tatame.trrsf.com/img/${photoId}_352x290.jpg"/>
				</a>
				<div class="transparence"></div>
				<div class="note">${item.note}</div>
			</div>							
		</div>						
	</div>											
</div>
<%
	}
%>