<%
	if (info && info.item && info.item.size() == 4) {
		def item, photoId, link
%>
<div class="black-belt-jiu-jitsu box-shadow">
	<div class="dan">Jiu Jitsu</div>
</div>
<div class="jiu-jitsu-articles">
	<div class="jiu-jitsu-article box-shadow">
		<%
			item = info.item[0]
			photoId = (item.photoId =~ /\d{1,999999}/)[0]
			if (item.link.toString().startsWith("http://") || item.link.toString().startsWith("https://")) {
				link = item.link.toString()
			} else {
				link = "/" + item.link.toString() 
			}				
		%>
		<a href="${link}">
			<img alt="${photoId}" src="http://cdn-tatame.trrsf.com/img/${photoId}_352x335.jpg"/>
		</a>		
		<div class="note">${item.note}</div>
	</div>
	<div class="jiu-jitsu-article box-shadow margin-left-10">
		<%
			item = info.item[1]
			photoId = (item.photoId =~ /\d{1,999999}/)[0]
			if (item.link.toString().startsWith("http://") || item.link.toString().startsWith("https://")) {
				link = item.link.toString()
			} else {
				link = "/" + item.link.toString() 
			}				
		%>
		<a href="${link}">
			<img alt="${photoId}" src="http://cdn-tatame.trrsf.com/img/${photoId}_352x335.jpg"/>
		</a>		
		<div class="note">${item.note}</div>
	</div>
	<div class="jiu-jitsu-article box-shadow margin-top-10">
		<%
			item = info.item[2]
			photoId = (item.photoId =~ /\d{1,999999}/)[0]
			if (item.link.toString().startsWith("http://") || item.link.toString().startsWith("https://")) {
				link = item.link.toString()
			} else {
				link = "/" + item.link.toString() 
			}				
		%>
		<a href="${link}">
			<img alt="${photoId}" src="http://cdn-tatame.trrsf.com/img/${photoId}_352x335.jpg"/>
		</a>		
		<div class="note">${item.note}</div>
	</div>		
	<div class="jiu-jitsu-article box-shadow margin-left-10 margin-top-10">
		<%
			item = info.item[3]
			photoId = (item.photoId =~ /\d{1,999999}/)[0]
			if (item.link.toString().startsWith("http://") || item.link.toString().startsWith("https://")) {
				link = item.link.toString()
			} else {
				link = "/" + item.link.toString() 
			}				
		%>
		<a href="${link}">
			<img alt="${photoId}" src="http://cdn-tatame.trrsf.com/img/${photoId}_352x335.jpg"/>
		</a>		
		<div class="note">${item.note}</div>
	</div>	
</div>
<%
	}
%>