<%
	def hash = (int)(Math.floor(Math.random() * 100000))
	if (info && info.item && info.item.size() > 0) {
		info.item.eachWithIndex { item, index ->
			def photoId = (item.photoId =~ /\d{1,999999}/)[0],
		   	    link    = ""
			if (item.link.toString().startsWith("http://") || item.link.toString().startsWith("https://")) {
				link = item.link.toString()
			} else {
				link = "/" + item.link.toString() 
			}
%>
<div class="magazine box-shadow">
	<a href="${link}">
		<img alt="${photoId}" src="http://cdn-tatame.trrsf.com/img/${photoId}_300x402.jpg?${hash}"/>
	</a>	
	<div class="note">${item.title}</div>
	
	<a class="shop" target="_blank" href="${item.linkShop}">Garanta seu exemplar</a>
</div>
<%
		}
	}
%>