<%
	if (info && info.item && info.item.size() > 0) {
		info.item.eachWithIndex { item, index ->
			def photoId = (item.photoId =~ /\d{1,999999}/)[0],
		   	    link    = ""
			if (item.link.toString().startsWith("http://") || item.link.toString().startsWith("https://")) {
				link = item.link.toString()
			} else {
				link = "/" + item.link.toString() 
			}
%>
<div class="widget-inner video-box clearfix">
	<div class="textwidget">
		<a href="${link}">
			<img src="/img/${photoId}.jpg?${(int)(Math.random() * 10000001)}"/>
		</a>
		<h4>
			<a href="http://www.tatame.com.br/assinatura/">${item.title}</a>
		</h4>
	</div>
</div>
<%
		}
	}
%>