<%
	def hash = (int)(Math.floor(Math.random() * 100000))
	if (info && info.item && info.item.size() == 2) {
		def item, photoId, link
%>
<div class="black-belt-vidoes box-shadow">
	<div class="dan">V&iacute;deos</div>
</div>
<div class="videos">
	<div class="video box-shadow">
		<%
			item = info.item[0]
			photoId = (item.photoId =~ /\d{1,999999}/)[0]
			if (item.link.toString().startsWith("http://") || item.link.toString().startsWith("https://")) {
				link = item.link.toString()
			} else {
				link = "/" + item.link.toString() 
			}				
		%>
		<a href="${link}">
			<img alt="${photoId}" src="http://cdn-tatame.trrsf.com/img/${photoId}_352x335.jpg?${hash}">
		</a>
		<div class="note">${item.note}</div>
	</div>
	<div class="video box-shadow margin-left-10">
		<%
			item = info.item[1]
			photoId = (item.photoId =~ /\d{1,999999}/)[0]
			if (item.link.toString().startsWith("http://") || item.link.toString().startsWith("https://")) {
				link = item.link.toString()
			} else {
				link = "/" + item.link.toString() 
			}				
		%>
		<a href="${link}">	
			<img alt="${photoId}" src="http://cdn-tatame.trrsf.com/img/${photoId}_352x335.jpg?${hash}">
		</a>
		<div class="note">${item.note}</div>
	</div>
</div>
<%
	}
%>