@CHARSET "UTF-8";
div#bd-recent-posts-2 div.widget-inner { height: 454px; }
.post-tags { float: left; max-width: 620px; width: 100%; }
.post-entry { float: left; max-width: 620px; width: 100%; }
.post > .post-title > a { font-size: 24px; line-height: 30px;}
div.post-entry div.size670,
div.post-entry div.size670 div { padding: 3px; text-align: center; }
div.post-entry div.size670 > img { width: 610px; }
div.post-entry div.size670 > div { width: 590px; }
div.post-entry div.size360,
div.post-entry div.size360 div { margin-bottom: 10px; }
div.post-entry div.size360 > img { width: 339px; }
div.post-entry div.size360 > div { width: 319px; }
div.post-entry div.size320,
div.post-entry div.size320 div { margin-bottom: 10px; }
div.post-entry div.size320 > img { width: 299px; }
div.post-entry div.size320 > div { width: 279px; }
div.post-entry div.size210,
div.post-entry div.size210 div { margin-bottom: 10px; font-size: 14px; padding: 5px; width: 190px; line-height: 18px; }
div.post-entry div.size210 > img { width: 190px; }
div.post-entry div.size210 > div { width: 170px; }
div.post-entry div.size210 > div,
div.post-entry div.size320 > div,
div.post-entry div.size360 > div,
div.post-entry div.size670 > div { color: #000; font-size: 12px; font-style: italic; font-weight: bold; line-height: 20px; padding: 10px; }
div.post-entry div.center { width: 100%; }
div.post-entry div.center img,
div.post-entry div.center div { display: table; margin: 0 auto; background-color: #ececec; }
div.post-entry div.right { float: right; clear: right; margin-left: 10px; }
div.post-entry div.left { float: left; clear: left; margin-right: 10px; }