@CHARSET "UTF-8";
.highlights { float: left; height: 595px; width: 714px; overflow: hidden; position: relative; }
.highlights .arrow-left { position: absolute; z-index: 3; top: 272px; left: 5px; display: none; }
.highlights .arrow-right { position: absolute; top: 272px; left: 659px; z-index: 3; display: none; }
.highlights .highlight { float: left; height: 595px; width: 714px; display: none; }
.highlights .current { display: block; }
.highlights .highlight .card-50 { float: left; width: 352px; height: 595px; position: relative; }
.highlights .highlight .card-50 > img { float: left; width: 353px; height: auto; }
.highlights .highlight .card-50 .transparence { width: 352px; background-color: #000; opacity: 0.5; height: 134px; position: absolute; left: 0; top: 461px; }
.highlights .highlight .card-50 .note { position: absolute; left: 20px; top: 472px; font-size: 24px; color: #fff; width: 333px; height: auto; overflow: hidden; text-overflow: ellipsis; line-height: 28px; max-height: 85px; }			
.highlights .highlight .card-50 .card-50 { height: 290px; width: 352px; }
.highlights .highlight .card-50 .card-50 .transparence { top: 201px; height: 90px; }
.highlights .highlight .card-50 .card-50 .note { top: 210px; font-size: 20px; line-height: 22px; max-height: 70px; width: 325px; }

.ads-highlights { float: left; height: 595px; width: 300px; }

.ads-1024 { float: left; width: 1024px; }
.ads-1024 > div { width: 728px; height: 90px; margin: 15px auto 0; box-shadow: 3px 3px 3px #777; overflow: hidden; }

#tatame_1680x912_home { display: none; }

.black-belt-highlights { float: left; background-color: #2b2b2b; height: 25px; width: 1024px; margin: 15px 0 5px; }
.black-belt-highlights .dan { float: left; background-color: #a2393c; height: 25px; width: 96px; margin-left: 20px; color: #fff; font-size: 20px; line-height: 23px; }

.other-highlights { float: left; width: 1024px; }
.other-highlights .highlight { float: left; height: 200px; width: 507px; background-color: #f6f6f6; }
.other-highlights .highlight img { float: left; width: 250px; border-right: 1px solid #a2393c; }
.other-highlights .highlight .info { float: left; width: 250px; height: 200px; }
.other-highlights .highlight .info .note { float: left; width: 244px; height: 115px; font-size: 20px; line-height: 28px; padding: 10px 0 0 10px; font-weight: bold; color: #000; overflow: hidden; text-overflow: ellipsis; }
.other-highlights .highlight .info .date { float: left; width: 244px; height: 30px; padding: 45px 0 0 10px; font-size: 20px; line-height: 28px; color: #000;  overflow: hidden; text-overflow: ellipsis; }
	
.black-belt-vidoes { float: left; background-color: #2b2b2b; height: 25px; width: 714px; margin: 15px 0 5px 0; }
.black-belt-vidoes .dan { float: left; background-color: #a2393c; height: 25px; width: 60px; margin-left: 20px; color: #fff; font-size: 20px; line-height: 23px; } 				
.videos { float: left; height: 400px; width: 714px; }
.videos .video { float: left; height: 400px; width: 352px; overflow: hidden; background-color: #f6f6f6; }
.videos .video img { float: left; height: 335px; width: 352px; }
.videos .video .note { float: left; height: 39px; width: 342px; color: #000; font-size: 14px; padding: 10px 0 0 10px; line-height: 18px; overflow: hidden; border-top: 1px solid #a2393c; font-weight: bold; }

.black-belt-last-news { float: left; width: 300px; height: 25px; line-height: 25px; background-color: #2b2b2b; margin: 0 0 5px; }
.black-belt-last-news .dan { float: left; margin-left: 20px; background-color: #a2393c; font-size: 20px; line-height: 25px; height: 25px; color: #fff; width: 75px; }
.last-news { float: left; height: 614px; width: 300px; border-bottom: 1px solid #a2393c; }
.last-news .article { float: left; width: 300px; height: 250px; overflow: hidden; margin: 0 0 5px 0; background-color: #f6f6f6; }
.last-news .article img { float: left; width: 300px; border-bottom: 1px solid #a2393c; }
.last-news .article .info { float: left; width: 300px; height: 70px; }
.last-news .article .info .date { float: left; width: 295px; height: 23px; line-height: 23px; font-size: 16px; color: #000; padding: 0 0 0 5px; font-weight: bold; }
.last-news .article .info .note { float: left; width: 295px; height: 38px; line-height: 18px; font-size: 13px; color: #000; padding: 0 0 0 5px; font-weight: bold; overflow: hidden; }

.black-belt-most-vieweds { float: left; width: 300px; height: 25px; line-height: 25px; background-color: #2b2b2b; margin: 0 0 5px 0; }
.black-belt-most-vieweds .dan { float: left; margin-left: 20px; background-color: #a2393c; font-size: 20px; line-height: 25px; height: 25px; color: #fff; width: 90px;  }
.most-vieweds { float: left; height: 774px; width: 300px; border-bottom: 1px solid #a2393c; }
.most-vieweds .most-viewed { float: left; width: 300px; height: 250px; overflow: hidden; margin: 0 0 5px 0; background-color: #f6f6f6; }
.most-vieweds .most-viewed img { float: left; width: 300px; border-bottom: 1px solid #a2393c; }
.most-vieweds .most-viewed .info { float: left; width: 300px; height: 70px; }
.most-vieweds .most-viewed .info .date { float: left; width: 295px; height: 23px; line-height: 23px; font-size: 16px; color: #000; padding: 0 0 0 5px; font-weight:bold;  }
.most-vieweds .most-viewed .info .header { float: left; width: 295px; height: 38px; line-height: 18px; font-size: 13px; color: #000; padding: 0 0 0 5px; background-color: #f6f6f6; font-weight: bold; overflow: hidden; }			

.black-belt-jiu-jitsu { float: left; background-color: #2b2b2b; height: 25px; width: 714px; margin: 15px 0 5px; }
.black-belt-jiu-jitsu .dan { float: left; background-color: #a2393c; height: 25px; width: 72px; margin-left: 20px; color: #fff; font-size: 20px; line-height: 23px;  } 				
.jiu-jitsu-articles { float: left; height: 400px; width: 714px; }
.jiu-jitsu-articles .jiu-jitsu-article { float: left; height: 400px; width: 352px; overflow: hidden; background-color: #f6f6f6; }
.jiu-jitsu-articles .jiu-jitsu-article img { float: left; height: 335px; width: 352px; border-bottom: 1px solid #a2393c; }
.jiu-jitsu-articles .jiu-jitsu-article .note { float: left; height: 38px; width: 340px; color: #000; font-size: 14px; padding: 10px 0 0 10px; line-height: 18px; overflow: hidden; font-weight: bold; }						

.black-belt-colunas { float: left; background-color: #2b2b2b; height: 25px; width: 714px; margin: 15px 0 5px 0; }
.black-belt-colunas .dan { float: left; background-color: #a2393c; height: 25px; width: 72px; margin-left: 20px; color: #fff; font-size: 20px; line-height: 23px; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; } 				
.colunas-articles { float: left; width: 714px; position: relative; }
.colunas-articles .colunas-arrow-left { position: absolute; z-index: 3; top: 71px; left: 4px; display: none; width: 28px; }
.colunas-articles .colunas-arrow-right { position: absolute; top: 71px; left: 682px; z-index: 3; display: none; width: 28px; }
.colunas-articles .coluna { float: left; height: 170px; width: 135px; overflow: hidden; position: relative; }
.colunas-articles .coluna img { float: left; }
.colunas-articles .coluna .title { position: absolute; left: 5px; top: 149px; font-size: 15px; color: #fff; width: 125px; height: auto; overflow: hidden; text-overflow: ellipsis; max-height: 17px; font-weight: bold; }			
.colunas-articles .coluna .transparence { width: 135px; background-color: #000; opacity: 0.4; height: 25px; position: absolute; left: 0; top: 145px; }

.black-belt-agenda { float: left; background-color: #2b2b2b; height: 25px; width: 714px; margin: 15px 0 5px; }
.black-belt-agenda .dan { float: left; background-color: #a2393c; height: 25px; width: 72px; margin-left: 20px; color: #fff; font-size: 20px; line-height: 23px; } 				
.agenda-articles { width: 714px; height:330px; overflow:hidden; position:relative; float: left; }
.agenda-articles .agenda-arrow-left { position: absolute; z-index: 3; top: 152px; left: 7px; display: none; width: 34px; }
.agenda-articles .agenda-arrow-right { position: absolute; top: 152px; left: 677px; z-index: 3; display: none; width: 34px; }
.agenda-articles div.article { float: left; height: 330px; overflow: hidden; position: relative; width: 236px; }
.agenda-articles div.article a img { height: 330px; width: 236px; }

.black-belt-big-video { float: left; background-color: #2b2b2b; height: 25px; width: 714px; margin: 0 0 5px 0; }
.black-belt-big-video .dan { float: left; background-color: #a2393c; height: 25px; width: 175px; margin-left: 20px; color: #fff; font-size: 20px; line-height: 23px; }
.big-video { float: left; height: 570px; width: 714px; }
.big-video iframe { float: left; height: 400px; width: 714px; }
.big-video .note { float: left; height: 159px; width: 704px; padding: 10px 0 0 10px; font-size: 30px; background-color: #f6f6f6; color: #000; border-top: 1px solid #a2393c; }

.magazine { float: left; height: 600px; width: 300px; overflow: hidden; }
.magazine img { float: left; height: 402px; width: 300px; }
.magazine .note { float: left; height: 128px; width: 290px; padding: 10px 0 0 10px; font-size: 24px; background-color: #f6f6f6; color: #000; border-top: 1px solid #a2393c; line-height: 32px; }
.magazine .shop { width: 92%;  padding: 11% 4% 3%; height: 3%; background-color: #f6f6f6; font-size: 0.85em; font-weight: bold; float: left; position: relative; color:#000;  }

.facebook { float: left; height: 600px; width: 714px; background-color: #f6f6f6; }
.facebook > div { height: 580px; width: 500px; margin: 10px 107px; }

@media screen and (max-width: 800px){
	.ads-highlights,
	.ads-1024 { display: none; }
	
	.highlights { display: none; width: 0; height: 0; }
/* 	Já implementado o layout responsivo nesse elemento.	
 	.highlights,
	.highlights .highlight { width: 100%; height: auto; }
	.highlights .highlight .card-50 { width: 100%; height: auto; margin: 0 0 2.5% 0; }
	.highlights .highlight .card-50 > a { float: left; width: 100%; height: auto; background-color: #2b2b2b; }
	.highlights .highlight .card-50 > a > img { float: none; width: 50%; height: auto; margin: 0 auto; display: block; }
	.highlights .highlight .card-50 .transparence { display: none; }
	.highlights .highlight .card-50 .note { position: relative; background-color: #000; left: 0; top: 0; width: 96%; font-size: 1em; line-height: 1.25em; max-height: none; height: auto; float: left; padding: 2%; }
	.highlights .highlight .card-50 .card-50,
	.highlights .highlight .card-50 .card-50 > a,
	.highlights .highlight .card-50 .card-50 > a > img { width: 100%; height: auto; }
	.highlights .highlight .card-50 .card-50 .transparence { display: none; }
	.highlights .highlight .card-50 .card-50 .note { position: relative; background-color: #000; left: 0; top: 0; width: 96%; font-size: 1em; line-height: 1.25em; max-height: none; height: auto; float: left; padding: 2%; } */
	
	.black-belt-highlights,
	.black-belt-jiu-jitsu,
	.black-belt-colunas,
	.black-belt-last-news,
	.black-belt-most-vieweds,
	.black-belt-agenda,
	.black-belt-vidoes,
	.black-belt-big-video { width: 100%; margin: 0 0 1% 0; height: auto; }
	.black-belt-highlights .dan,
	.black-belt-jiu-jitsu .dan,
	.black-belt-colunas .dan,
	.black-belt-last-news .dan,
	.black-belt-most-vieweds .dan,
	.black-belt-agenda .dan,
	.black-belt-vidoes .dan,
	.black-belt-big-video .dan { font-size: 1em; height: auto; line-height: normal; margin-left: 5%; width: auto; padding: 1.5% 2.5%; text-align: center; }
	
	.black-belt-highlights,
	.other-highlights { display: none; width: 0; height: 0; }
/* 	Já implementado o layout responsivo nesse elemento.
	.other-highlights { width: 100%; height: auto; }
	.other-highlights .highlight { width: 100%; height: auto; margin: 0 0 2.5% 0; }
	.other-highlights .highlight > a { width: 100%; height: auto; }
	.other-highlights .highlight > a > img { width: 100%; height: auto; }
	.other-highlights .highlight .info { width: 100%; height: auto; }
	.other-highlights .highlight .info .note,
	.other-highlights .highlight .info .date { width: 96%; height: auto; padding: 2%; background-color: #000; color: #fff; font-size: 1em; line-height: 1.25em; } */
	
	.black-belt-jiu-jitsu,
	.jiu-jitsu-articles { display: none; width: 0; height: 0; }	
/* 	Já implementado o layout responsivo nesse elemento.
	.jiu-jitsu-articles,
	.jiu-jitsu-articles .jiu-jitsu-article,
	.jiu-jitsu-articles .jiu-jitsu-article > a,
	.jiu-jitsu-articles .jiu-jitsu-article > a > img,
	.jiu-jitsu-articles .jiu-jitsu-article .note { float: left; width: 100%; height: auto; }
	.jiu-jitsu-articles .jiu-jitsu-article { margin: 0 0 2.5% 0; }	
	.jiu-jitsu-articles .jiu-jitsu-article .note { width: 96%; height: auto; padding: 2%; background-color: #000; color: #fff; font-size: 1em; line-height: 1.25em; } */
	
	.black-belt-colunas,
	.colunas-articles { display: none; width: 0; height: 0; }
/* 	Já implementado o layout responsivo nesse elemento.
	.colunas-articles,
	.colunas-articles .coluna,
	.colunas-articles .coluna > a { float: left; width: 100%; height: auto; }
	.colunas-articles .coluna { margin: 0 0 2.5% 0; }
	.colunas-articles .coluna > a { background-color: #2b2b2b; }	
	.colunas-articles .coluna > a > img { float: none; width: 50%; height: auto; margin: 0 auto; display: block; }
	.colunas-articles .coluna .transparence { display: none; }
	.colunas-articles .coluna .title { position: relative; width: 96%; height: auto; padding: 2%; background-color: #000; color: #fff; font-size: 1em; line-height: 1.25em; left: 0; top: 0; max-height: none; } */
	
	.last-news,
	.last-news .article,
	.last-news .article > a,
	.last-news .article > a > img,
	.last-news .article .info,
	.last-news .article .info .date,
	.last-news .article .info .note { float: left; width: 100%; height: auto; }
	.last-news .article { margin: 0 0 2.5% 0; }
	.last-news .article .info .date,
	.last-news .article .info .note { width: 96%; height: auto; padding: 2%; background-color: #000; color: #fff; font-size: 1em; line-height: 1.25em; max-height: none; }
	
	.black-belt-most-vieweds,
	.most-vieweds { display: none; width: 0; height: 0; }	
/* 	Já implementado o layout responsivo nesse elemento. 	
	.most-vieweds,
	.most-vieweds .most-viewed,
	.most-vieweds .most-viewed > a,
	.most-vieweds .most-viewed > a > img,
	.most-vieweds .most-viewed .info,
	.most-vieweds .most-viewed .info .date,
	.most-vieweds .most-viewed .info .header { float: left; width: 100%; height: auto; }
	.most-vieweds .most-viewed { margin: 0 0 2.5% 0; }
	.most-vieweds .most-viewed .info .date,
	.most-vieweds .most-viewed .info .header { width: 96%; height: auto; padding: 2%; background-color: #000; color: #fff; font-size: 1em; line-height: 1.25em; max-height: none; } */
	
	.black-belt-agenda,
	.agenda-articles { display: none; width: 0; height: 0; }	
/* 	Já implementado o layout responsivo nesse elemento.
	.agenda-articles,
	.agenda-articles div.article,
	.agenda-articles div.article > a,
	.agenda-articles div.article > a > img { width: 100%; height: auto; }
	.agenda-articles div.article { margin: 0 0 2.5% 0; } */
	
	.black-belt-vidoes,
	.videos { display: none; width: 0; height: 0; }
/* 	.videos,
	.videos .video,
	.videos .video > a,
	.videos .video > a > img,
	.videos .video .note { width: 100%; height: auto; }
	.videos .video { margin: 0 0 2.5% 0; }
	.videos .video .note { width: 96%; height: auto; padding: 2%; background-color: #000; color: #fff; font-size: 1em; line-height: 1.25em; max-height: none; } */
	
	.big-video,
	.big-video iframe,
	.big-video .note { width: 100%; height: auto; }
	.big-video { margin: 0 0 2.5% 0; }
	.big-video iframe { min-height: 250px; }
	.big-video .note { width: 96%; height: auto; padding: 2%; background-color: #000; color: #fff; font-size: 1em; line-height: 1.25em; max-height: none; }	
		
	.magazine,
	.magazine > a,
	.magazine > a > img,
	.magazine .note { width: 100%; height: auto; }
	.magazine .note { width: 96%; height: auto; padding: 2%; background-color: #000; color: #fff; font-size: 1em; line-height: 1.25em; max-height: none; }
	.magazine { margin: 0 0 2.5% 0; }
	
	.facebook,
	.facebook > div { width: 100%; height: auto; }
	.facebook { margin: 0 0 2.5% 0; max-height: 250px; overflow: hidden; }
	.facebook > div { margin: 0; }
}