@CHARSET "UTF-8";
.highlights { float: left; height: 595px; width: 714px; overflow: hidden; position: relative; }
.highlights .arrow-left { position: absolute; z-index: 3; top: 272px; left: 5px; display: none; }
.highlights .arrow-right { position: absolute; top: 272px; left: 659px; z-index: 3; display: none; }
.highlights .highlight { float: left; height: 595px; width: 714px; display: none; }
.highlights .current { display: block; }
.highlights .highlight .card-50 { float: left; width: 352px; height: 595px; position: relative; }
.highlights .highlight .card-50 > img { float: left; width: 353px; height: auto; }
.highlights .highlight .card-50 .transparence { width: 352px; background-color: #000; opacity: 0.5; height: 134px; position: absolute; left: 0; top: 461px; }
.highlights .highlight .card-50 .note { position: absolute; left: 20px; top: 465px; font-size: 24px; color: #fff; width: 333px; height: auto; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; overflow: hidden; text-overflow: ellipsis; line-height: 28px; max-height: 130px; }			
.highlights .highlight .card-50 .card-50 { height: 290px; width: 352px; }
.highlights .highlight .card-50 .card-50 .transparence { top: 201px; height: 90px; }
.highlights .highlight .card-50 .card-50 .note { top: 201px; font-size: 20px; line-height: 22px; max-height: 90px; width: 332px; }

.ads-highlights { float: left; height: 595px; width: 300px; }
.ads-300-100 { float: left; margin-bottom: 15px; height: 100px; width: 300px; }
.ads-300-250 { float: left; height: 250px; width: 300px; }

.ads-1024 { float: left; width: 1024px; }
.ads-1024 #tatame_728x90_ros { width: 728px; height: 90px; margin: 15px auto; box-shadow: 3px 3px 3px #777; }
.ads-1024 > div { width: 728px; height: 90px; margin: 15px auto; box-shadow: 3px 3px 3px #777; }

.black-belt-highlights { float: left; background-color: #2b2b2b; height: 25px; width: 1024px; margin: 15px 0; }
.black-belt-highlights .dan { float: left; background-color: #a2393c; height: 25px; width: 96px; margin-left: 20px; color: #fff; font-size: 20px; line-height: 23px; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; }

.other-highlights { float: left; width: 1024px; }
.other-highlights .highlight { float: left; height: 200px; width: 507px; }
.other-highlights .highlight img { float: left; width: 250px; border-right: 1px solid #a2393c; }
.other-highlights .highlight .info { float: left; width: 256px; height: 200px; background-color: #2b2b2b; }
.other-highlights .highlight .info .note { float: left; width: 246px; height: 152px; font-size: 20px; line-height: 28px; padding: 10px 0 0 10px; font-weight: bold; color: #fff; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; overflow: hidden; text-overflow: ellipsis; }
.other-highlights .highlight .info .date { float: left; width: 246px; height: 28px; padding: 10px 0 0 10px; font-size: 20px; line-height: 28px; color: #fff; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; overflow: hidden; text-overflow: ellipsis; }
	
.black-belt-vidoes { float: left; background-color: #2b2b2b; height: 25px; width: 714px; margin: 0 0 5px 0; }
.black-belt-vidoes .dan { float: left; background-color: #a2393c; height: 25px; width: 60px; margin-left: 20px; color: #fff; font-size: 20px; line-height: 23px; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; } 				
.videos { float: left; height: 810px; width: 714px; }
.videos .video { float: left; height: 400px; width: 352px; overflow: hidden; }
.videos .video img { float: left; height: 335px; width: 352px; }
.videos .video .note { float: left; height: 54px; width: 342px; background-color: #2b2b2b; color: #fff; font-size: 14px; padding: 10px 0 0 10px; line-height: 18px; box-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; overflow: hidden; border-top: 1px solid #a2393c; }

.black-belt-last-news { float: left; width: 300px; height: 25px; line-height: 25px; background-color: #2b2b2b; margin: 0 0 5px 0; }
.black-belt-last-news .dan { float: left; margin-left: 20px; background-color: #a2393c; font-size: 20px; line-height: 25px; height: 25px; color: #fff; width: 75px; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; }
.last-news { float: left; height: 810px; width: 300px; border-bottom: 1px solid #a2393c; }
.last-news .article { float: left; width: 300px; height: 250px; overflow: hidden; margin: 0 0 5px 0; background-color: #2b2b2b; }
.last-news .article img { float: left; width: 300px; border-bottom: 1px solid #a2393c; }
.last-news .article .info { float: left; width: 300px; height: 70px; }
.last-news .article .info .date { float: left; width: 295px; height: 23px; line-height: 23px; font-size: 16px; color: #fff; padding: 0 0 0 5px; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; }
.last-news .article .info .note { float: left; width: 295px; height: 46px; line-height: 18px; font-size: 13px; color: #fff; padding: 0 0 0 5px; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; }

.black-belt-most-vieweds { float: left; width: 300px; height: 25px; line-height: 25px; background-color: #2b2b2b; margin: 0 0 5px 0; }
.black-belt-most-vieweds .dan { float: left; margin-left: 20px; background-color: #a2393c; font-size: 20px; line-height: 25px; height: 25px; color: #fff; width: 90px; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; }
.most-vieweds { float: left; height: 810px; width: 300px; border-bottom: 1px solid #a2393c; }
.most-vieweds .most-viewed { float: left; width: 300px; height: 250px; overflow: hidden; margin: 0 0 5px 0; background-color: #2b2b2b; }
.most-vieweds .most-viewed img { float: left; width: 300px; border-bottom: 1px solid #a2393c; }
.most-vieweds .most-viewed .info { float: left; width: 300px; height: 70px; }
.most-vieweds .most-viewed .info .date { float: left; width: 295px; height: 23px; line-height: 23px; font-size: 16px; color: #fff; padding: 0 0 0 5px; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; }
.most-vieweds .most-viewed .info .header { float: left; width: 295px; height: 46px; line-height: 18px; font-size: 13px; color: #fff; padding: 0 0 0 5px; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; }			

.black-belt-jiu-jitsu { float: left; background-color: #2b2b2b; height: 25px; width: 714px; margin: 0 0 5px 0; }
.black-belt-jiu-jitsu .dan { float: left; background-color: #a2393c; height: 25px; width: 72px; margin-left: 20px; color: #fff; font-size: 20px; line-height: 23px; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; } 				
.jiu-jitsu-articles { float: left; height: 810px; width: 714px; }
.jiu-jitsu-articles .jiu-jitsu-article { float: left; height: 400px; width: 352px; overflow: hidden; }
.jiu-jitsu-articles .jiu-jitsu-article img { float: left; height: 335px; width: 352px; }
.jiu-jitsu-articles .jiu-jitsu-article .note { float: left; height: 54px; width: 342px; background-color: #2b2b2b; color: #fff; font-size: 14px; padding: 10px 0 0 10px; line-height: 18px; box-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; overflow: hidden; border-top: 1px solid #a2393c; }						

.black-belt-big-video { float: left; background-color: #2b2b2b; height: 25px; width: 714px; margin: 0 0 5px 0; }
.black-belt-big-video .dan { float: left; background-color: #a2393c; height: 25px; width: 112px; margin-left: 20px; color: #fff; font-size: 20px; line-height: 23px; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; }
.big-video { float: left; height: 570px; width: 714px; }
.big-video iframe { float: left; height: 400px; width: 714px; }
.big-video .note { float: left; height: 159px; width: 704px; padding: 10px 0 0 10px; font-size: 30px; background-color: #2b2b2b; color: #fff; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; border-top: 1px solid #a2393c; }

.magazine { float: left; height: 600px; width: 300px; overflow: hidden; }
.magazine img { float: left; height: 402px; width: 300px; }
.magazine .note { float: left; height: 187px; width: 290px; padding: 10px 0 0 10px; font-size: 30px; background-color: #2b2b2b; color: #fff; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; border-top: 1px solid #a2393c; line-height: 35px; }

.facebook { float: left; height: 600px; width: 714px; background-color: #2b2b2b; }
.facebook > div { height: 580px; width: 500px; margin: 10px 107px; }