@CHARSET "UTF-8";

div.live-stats-info { float: left; height: auto; width: 1024px; }
div.live-stats-info p { float: left; height: auto; width: 1000px; margin: 12px; }

div.content { float: left; height: auto; width: 1024px; }
div.content div.info { float: left; height: auto; width: 1024px; }
div.content div.info div.poll { float: left; height: auto; width: 500px; margin: 0 12px 30px 0; }
div.content div.info div.live-chat { float: left; height: auto; width: 500px; margin: 0 0 30px 12px; }
div.content div.live-stats { float: left; height: auto; width: 1024px; }

@media screen and (max-width: 800px) {
	div.live-stats-info { float: left; height: auto; width: 100%; }
	div.live-stats-info p { float: left; height: auto; width: 98%; margin: 1%; }

	div.content { float: left; height: auto; width: 100%; }
	div.content div.info { float: left; height: auto; width: 100%; }
	div.content div.info div.poll { float: left; height: auto; width: 48%; margin: 0 1% 5% 0; }
	div.content div.info div.live-chat { float: left; height: auto; width: 48%; margin: 0 0 5% 1%; }
	div.content div.live-stats { float: left; height: auto; width: 100%; }
}