@CHARSET "UTF-8";

div.live-stats-info { float: left; }
div.live-stats-info p { float: left; }

div.content { float: left; }
div.content div.info { float: left; }
div.content div.info div.poll { float: left; }
div.content div.info div.live-chat { float: left; }
div.content div.live-stats { float: left; }

@media screen and (max-width: 800px) {
}