@CHARSET "UTF-8";

div.live-stats-info { float: left; height: auto; width: 1024px; }
div.live-stats-info p { float: left; height: auto; width: 1000px; margin: 12px; }

div.content { float: left; height: auto; width: 1024px; }
div.content div.info { float: left; height: auto; width: 1024px; }
div.content div.info div.polls { float: left; min-height: 500px; height: auto; width: 500px; margin: 0 12px 30px 0; }
div.content div.info div.polls div.title { float: left; height: auto; width: 490px; position: relative; }
div.content div.info div.polls div.title p.text { float: left; height: auto; width: 100px; font-size: 20px; text-transform: uppercase; font-weight: bold; color: #ff0105; line-height: 60px; }
div.content div.info div.polls div.title p.line { float: left; width: 390px; position: absolute; left: 100px; top: 29px; height: 3px; background-color: #ff0105; }
div.content div.info div.polls div.poll { float: left; height: auto; width: 490px; border-bottom: 3px solid #dbdbdb; position: relative; }
div.content div.info div.polls div.poll p.question { float: left; height: auto; width: 490px; font-size: 18px; color: #3a3a3a; font-weight: bold; line-height: 26px; }
div.content div.info div.polls div.poll div.alternatives { float: left; height: auto; width: 490px; margin: 10px 0 0 0; }
div.content div.info div.polls div.poll div.alternatives div.alternative { float: left; height: auto; width: 490px; margin: 0 0 10px 0; }
div.content div.info div.polls div.poll div.alternatives div.alternative input[type="radio"] { float: left; width: 15px; margin: 5px 2px; }
div.content div.info div.polls div.poll div.alternatives div.alternative p.text { float: left; height: auto; width: 470px; font-size: 16px; font-weight: bold; color: #3a3a3a; line-height: 24px; }
div.content div.info div.polls div.poll div.alternatives div.alternative p.progress-bar { float: left; height: 5px; width: 490px; background-color: #ff9e00; }
div.content div.info div.polls button { float: left; height: auto; width: 70px; padding: 4px; font-size: 16px; font-weight: bold; color: white; background-color: #393939; border: none; position: absolute; left: 420px; top: 0px; cursor: pointer; }

div.content div.info div.live-chat { float: left; min-height: 500px; height: auto; width: 500px; margin: 0 0 30px 12px; }
div.content div.live-stats { float: left; height: auto; width: 1024px; }
div.content div.live-stats > iframe { float: left; max-height: 1200px; width: 1024px; }
div.content div.live-stats-fb-comments { float: left; min-height: 200px; height: auto; width: 1024px; }

@media screen and (max-width: 800px) {
	div.live-stats-info { float: left; height: auto; width: 100%; }
	div.live-stats-info p { float: left; height: auto; width: 98%; margin: 1%; }

	div.content { float: left; height: auto; width: 100%; }
	div.content div.info { float: left; height: auto; width: 100%; }
	div.content div.info div.polls { float: left; height: auto; width: 48%; margin: 0 1% 5% 0; }
	div.content div.info div.live-chat { float: left; height: auto; width: 48%; margin: 0 0 5% 1%; }
	div.content div.live-stats { float: left; height: auto; width: 100%; }
	div.content div.live-stats > iframe { float: left; max-height: 1200px; width: 100%; }
	div.content div.live-stats-fb-comments { float: left; min-height: 200px; height: auto; width: 100%; }
}