@CHARSET "UTF-8";
/*---------------------------------------------
CSS Reset
----------------------------------------------*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section { display: block; }
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ""; content: none; }
table { border-collapse: collapse; border-spacing: 0; }
/*---------------------------------------------
CSS Page
----------------------------------------------*/		
html, body { float: left; width: 100%; height: 100%; position: relative; background-color: #fff; font-family: Metrophobic, sans-serif; }

.page { height: auto; max-width: 1024px; width: 100%; margin: 0 auto; display: table; padding: 0 5px; background-color: #fff; }

.show { display: block; }
.hide { display: none; }
.perfect-scroll { overflow: hidden; position: relative; }

.header { float: left; width: 100%; max-width: 1024px; background-color: #fff; }
.header .terra-bar { float: left; width: 100%; }
.header .terra-bar iframe { float: left; height: 25px; width: 100%; }
.header #TerraAdvertising { float: left; margin: 0 auto; }
.header .ads { float: left; width: 100%; }
.header .ads > div { max-width: 970px; width: auto; margin: 10px auto; box-shadow: 3px 3px 3px #777; }
.header .ads #tatame_728x90_ros { width: 728px; height: 90px; margin: 15px auto; }
.header .menu { float: left; width: 1024px; background-color: #2b2b2b; margin-bottom: 3px; position: relative; padding: 10px 0; }
.header .menu .logo { float: left; max-height: 58px; height: auto; max-width: 194px; width: 15%; padding: 5px 3px 0 5px; }
.header .menu .logo img { float: left; width: 100%; height: auto; }
.header .menu .categories { float: left; width: 10%; height: 58px; margin-left: 1%; }
.header .menu .categories li { float: left; width: 100%; height: 100%; line-height: 58px; position: relative; }
.header .menu .categories li a { float: left; color: #fff; text-decoration: none; width: 100%; text-align: center; font-size: 18px; }
.header .menu .categories li ul { float: left; width: 100%; overflow: hidden; position: relative; display: none; }
.header .menu .categories li ul li { float: left; width: 100%; height: 50%; line-height: 37px; }
.header .menu .categories li ul li a { float: left; color: #fff; text-decoration: none; width: 100%; text-align: center; font-size: 15px; }
.header .menu .categories li:HOVER a { background-color: #979797; }
.header .menu .categories li:HOVER > ul { display: block; position: absolute; top: 58px; left: 0px; z-index: 999; }
.header .menu .categories li:HOVER > ul li a { background-color: #979797; }
.header .menu .diary { float: left; font-size: 18px; color: #fff; text-decoration: none; line-height: 58px; height: 58px; width: 8.5%; text-align: center; margin-left: 0.5%; }
.header .menu .columns { float: left; font-size: 18px; color: #fff; text-decoration: none; line-height: 58px; height: 58px; width: 9.5%; text-align: center; margin-left: 0.5%; }
.header .menu .clube { float: left; font-size: 18px; color: #fff; text-decoration: none; line-height: 58px; height: 58px; width: 7%; text-align: center; margin-left: 0.5%; }
.header .menu .videos { float: left; font-size: 18px; color: #fff; text-decoration: none; line-height: 58px; height: 58px; width: 7.5%; text-align: center; margin-left: 0.5%; }
.header .menu .subscribe { float: left; font-size: 18px; color: #fff; text-decoration: none; line-height: 58px; height: 58px; width: 7%; text-align: center; margin: 0 1.1% 0 0.8%; }
.header .menu .icon { float: left; text-decoration: none; }
.header .menu .icon img { width: 23px; height: auto; margin: 18px 5px 0; }
.header .menu .search { float: left; width: 15%; height: 58px; margin-left: 0.9%; }
.header .menu .search form { float: left; width: 100%; height: 100%; }
.header .menu .search form input { float: left; border: none; padding: 0 20% 0 4%; margin: 0; width: 78%; height: 100%; font-size: 20px; color: #fff; background-color: #2b2b2b; font-family: Metrophobic, sans-serif; background-image: url("/skins/tatame/img/search.png"); background-repeat: no-repeat; background-position: 95% 50%; background-size: 15px 15px; }
.header .menu-mobile { display: none; width: 0px; height:  0px; }

.content { float: left; height: auto; width: 100%; background-color: #fff; padding: 10px 0; }

.box-shadow { box-shadow: 3px 3px 3px #777; }
			
.box-1024 { float: left; width: 1024px; }			
.box-714 { float: left; width: 714px; }
.box-507 { float: left; width: 507px; }
.box-300 { float: left; width: 300px; }

.ads-300-100 { float: left; height: 100px; width: 300px; }
.ads-300-250 { float: left; height: 250px; width: 300px; overflow: hidden;}
.ads-300-600 { float: left; height: 600px; width: 300px; }

.ads-1024 { float:left; width: 1024px; }
.ads-1024 .ads-728-90 { width: 728px; height: 90px; margin: 15px auto 0; overflow: hidden; }

#tatame_1680x912_ros { display: none; }

.margin-right-5 { margin-right: 5px; }
.margin-right-10 { margin-right: 10px; }
.margin-right-15 { margin-right: 15px; }
.margin-left-2 { margin-left: 2px; }
.margin-left-5 { margin-left: 5px; }
.margin-left-9 { margin-left: 9px; }
.margin-left-10 { margin-left: 10px; }
.margin-left-15 { margin-left: 15px; }
.margin-top-5 { margin-top: 5px; }
.margin-top-10 { margin-top: 10px; }
.margin-top-15 { margin-top: 15px; }
.margin-bottom-5 { margin-bottom: 5px; }
.margin-bottom-10 { margin-bottom: 10px; }
.margin-bottom-15 { margin-bottom: 15px; }

.footer { float: left; width: 100%; background-color: #2b2b2b; }
.footer .logo { float: left; width: 33.33%; }
.footer .logo img { max-width: 194px; height: auto; width: 46%; margin: 15% 27%; }
.footer .pages { float: left; width: 33.33%; }
.footer .pages .title { float: left; width: 96%; padding: 2% 2% 4% 2%; font-size: 20px; color: #fff; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; }
.footer .pages p { float: left; width: 96%; margin: 0 2% 4% 2%; color: #fff; font-size: 16px; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; }
.footer .pages p a { text-decoration: none; color: #fff; } 
.footer .address { float: left; width: 33.33%; }
.footer .address .title { float: left; width: 96%; padding: 2% 2% 4% 2%; font-size: 20px; color: #fff; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; }
.footer .address p { float: left; width: 96%; margin: 0 2% 4% 2%; color: #fff; font-size: 16px; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; }

.mobile-hidden { display: block; }

@media screen and (max-width: 800px){
	.ads,
	.mobile-hidden,
	.header .menu,
	.ads-300-100,
	.ads-300-250,
	.ads-300-600 { display: none; width: 0px; height: 0px; }
	.box-shadow { box-shadow: none; }
		
	.page { float: left; padding: 1%; width: 98%; display: block; }

	.header { overflow: hidden; }
	.header .terra-bar iframe { height: 24px; width: 101%; }	
	.header .menu-mobile { float: left; display: block; width: 100%; height: auto; background-color: #2b2b2b; }
	.header .menu-mobile .logo { float: left; width: 100%; height: auto; margin: 0 0 1% 0; }
	.header .menu-mobile .logo img { width: 100%; height: auto; max-width: 194px; margin: 1% auto; display: block; }
	.header .menu-mobile .search { float: left; width: 98%; height: auto; margin: 0 0 1% 0; padding: 0 1%; }
	.header .menu-mobile .search form { float: left; width: 100%; height: auto; }
	.header .menu-mobile .search form input { float: left; width: 98%; height: auto; margin: 0; border: none; padding: 1%; font-size: 1em; line-height: 1.2em; color: #fff; font-family: Metrophobic, sans-serif; background-image: url("/skins/tatame/img/search.png"); background-repeat: no-repeat; background-position: 98% 50%; background-size: 15px 15px; }
	.header .menu-mobile .categories { float: left; display: block; width: 98%; padding: 0; margin: 0 1% 1% 1%; border: 0.01em solid #ccc; border-radius: 3px; overflow: hidden; background-color: #fff; background: #fff url("/skins/tatame/img/select-arrow-down.gif") no-repeat 98% 50%; }
	.header .menu-mobile .categories select { float: left; font-size: 0.8em; padding: 1%; width: 100%; border: none; box-shadow: none; background-color: transparent; background-image: none; -webkit-appearance: none; -moz-appearance: none; appearance: none; }
	.header .menu-mobile .categories select:focus { outline: none; }
	
	.content { overflow: hidden; }
	
	.box-1024,
	.box-714,
	.box-507,
	.box-300 { width: 100%; }
	
	.margin-right-5,
	.margin-right-10,
	.margin-right-15,
	.margin-left-2,
	.margin-left-5,
	.margin-left-9,
	.margin-left-10,
	.margin-left-15,
	.margin-top-5,
	.margin-top-10,
	.margin-top-15,
	.margin-bottom-5,
	.margin-bottom-10,
	.margin-bottom-15 { margin: 0; }
	
	.footer .logo,
	.footer .pages,
	.footer .address { width: 100%; height: auto; }
	
	.footer .logo img { max-width: none; width: 50%; float: none; display: block; margin: 5% auto; }
	
	.footer .pages .title,
	.footer .address .title { text-align: center; font-size: 1.4em; }
	.footer .pages p,
	.footer .address p { text-align: center; font-size: 1em; }
}