@CHARSET "UTF-8";
article.post div.bigphotoholder { float: left; width: 620px; }
article.post div.bigphotoholder div.holder { float: left; width: 620px; }
article.post div.bigphotoholder div.holder img { margin: 0 auto; display: table; }
article.post div.bigphotonote { background-color: #e7e7e9; color: #000; float: left; font-family: Verdana !important; font-size: 14px; line-height: 20px; margin: 5px 0; padding: 5px; width: 611px; }
article.post .bigphotoholder-thumbs { float: left; margin-top: 5px; overflow: hidden; width: 620px; }
article.post .bigphotoholder-thumbs div.left { float: left; height: 22px; padding: 24px 0; width: 17px; }
article.post .bigphotoholder-thumbs div.right { float: right; height: 22px; padding: 24px 0; width: 17px; }
article.post .bigphotoholder-thumbs div.left img,
article.post .bigphotoholder-thumbs div.right img { width: 17px; height: 22px; }
article.post .bigphotoholder-thumbs div.photoholder { float: left; height: 70px; overflow: hidden; width: 586px; }
article.post .bigphotoholder-thumbs div.photoholder img { border: 1px solid #babaca; float: left; height: 68px; margin: 0 2px; width: 91px; }
article.post .hide { display: none; }
article.post .show { display: block; }