<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>The Publisher</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <param-name>contextConfigLocation</param-name>
    <param-value>
		        classpath:net/bull/javamelody/monitoring-spring.xml
		        /WEB-INF/spring/applicationContext.xml
		</param-value>
  </context-param>
  <context-param>
    <param-name>org.apache.tiles.impl.BasicTilesContainer.DEFINITIONS_CONFIG</param-name>
    <param-value>/WEB-INF/tiles/tiles-default.xml,/WEB-INF/tiles/tiles-clube-tatame.xml</param-value>
  </context-param>
  <filter>
    <filter-name>javamelody</filter-name>
    <filter-class>net.bull.javamelody.MonitoringFilter</filter-class>
    <async-supported>true</async-supported>
  </filter>
  <filter-mapping>
    <filter-name>javamelody</filter-name>
    <url-pattern>/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>ASYNC</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>GzipFilter</filter-name>
    <filter-class>org.eclipse.jetty.servlets.GzipFilter</filter-class>
    <init-param>
      <param-name>mimeTypes</param-name>
      <param-value>text/html,text/plain,text/xml,application/xhtml+xml,text/css,application/javascript,image/svg+xml,imgage/png,imgage/jpg,imgage/jpgeg</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>GzipFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>SpringOpenEntityManagerInViewFilter</filter-name>
    <filter-class>org.springframework.orm.jpa.support.OpenEntityManagerInViewFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>SpringOpenEntityManagerInViewFilter</filter-name>
    <url-pattern>*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>PageCacheFilter</filter-name>
    <filter-class>com.publisher.pagecache.PageCacheFilter</filter-class>
    <init-param>
      <param-name>cache-types</param-name>
      <param-value>article</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>PageCacheFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>struts2</filter-name>
    <filter-class>org.apache.struts2.dispatcher.ng.filter.StrutsPrepareAndExecuteFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>struts2</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>org.springframework.web.util.Log4jConfigListener</listener-class>
  </listener>
  <listener>
    <listener-class>com.publisher.context.ContextListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.springframework.web.context.ContextLoaderListener</listener-class>
  </listener>
  <listener>
    <listener-class>org.apache.struts2.tiles.StrutsTilesListener</listener-class>
  </listener>
  <listener>
    <listener-class>net.bull.javamelody.SessionListener</listener-class>
  </listener>    
  <servlet>
    <servlet-name>PhotoImageServlet</servlet-name>
    <servlet-class>com.publisher.servlet.ImageServlet</servlet-class>
    <init-param>
      <param-name>folder-size</param-name>
      <param-value>1000</param-value>
    </init-param>
    <init-param>
      <param-name>image-temp-folder</param-name>
      <param-value>image-temp-folder</param-value>
    </init-param>
    <init-param>
      <param-name>image-folder</param-name>
      <param-value>image-folder</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>PhotoImageServlet</servlet-name>
    <url-pattern>/img/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UploadImageServlet</servlet-name>
    <servlet-class>com.publisher.servlet.ImageServlet</servlet-class>
    <init-param>
      <param-name>folder-size</param-name>
      <param-value>0</param-value>
    </init-param>
    <init-param>
      <param-name>image-temp-folder</param-name>
      <param-value>upload-temp-folder</param-value>
    </init-param>
    <init-param>
      <param-name>image-folder</param-name>
      <param-value>upload-folder</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadImageServlet</servlet-name>
    <url-pattern>/upload/*</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>401</error-code>
    <location>/401.jsp</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/403.jsp</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/404.jsp</location>
  </error-page>
  <login-config>
    <auth-method>BASIC</auth-method>
    <realm-name>Monitoring</realm-name>
  </login-config>
  <security-role>
    <role-name>manager</role-name>
  </security-role>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Monitoring</web-resource-name>
      <url-pattern>/monitoring</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>manager</role-name>
    </auth-constraint>
  </security-constraint>
</web-app>